*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  line-height: 1.4;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #2f2f2f;
  font-family: "Lato", sans-serif !important;
  overflow: hidden;
}

a,
a:hover {
  text-decoration: none;
}

a:hover {
  color: #306edf;
}

img {
  border-style: none;
}

p,
label {
  margin: 0;
}

i {
  transition: all 0.5s;
}

ul,
ol,
li {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  list-style-type: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

textarea {
  overflow: auto;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

button,
button:active,
button:focus {
  outline: 1px solid transparent;
}

//
#root {
  // max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: left;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
